
{% extends 'base.html' %}

{% block title %}Hakkımızda - Hemaks{% endblock %}

{% block content %}
<h1>Hakkımızda</h1>
<p>1978 yılında Gaziantep’te faaliyete başlayan firmamız üretmekte olduğu tekstil makineleri ile Türkiye’nin tekstilde öncü firmaları arasında yerini almıştır.
    Ana hedefimiz gelişen yüksek teknolojiyle dünya standartlarında makineler üreterek ülke ekonomisine katkıda bulunmaktır. AR-GE’ye (Araştırma Geliştirme) verilen önemin yanı sıra, kullanılan ileri teknoloji, geleceğe yönelik model çeşitliliği ile her aşamada seçiciliği ve geniş çaplı üretimi sağlamaktır.
    Kalitede devamlılık, son teknoloji ile otomasyon CNC tezgahlarındaki üretim ve kaliteli insan kaynakları ile yapmış olduğu yatırım desteklenmektedir. Üretimdeki kalitemizi Dünya Standartlarına çıkarmayı başarmış bulunmaktayız.
    Çalışmalarımızdan aldığımız bu güven sayesinde firmamızın ürettiği makineler 1978'den beri Türkiye’nin yanı sıra özellikle Ortadoğu ve Kuzey Afrika ülkelerinde pazar bulmaktadır.</p>

<ul>
    <li>Kumaş Üreticileri</li>
    <li>İplik Üreticileri</li>
    <li>Halı Üreticileri</li>
    <li>Polyester İplik Üreticileri</li>
    <li>Pamuk İplik Üreticileri</li>
    <li>Perde Üreticileri</li>
    <li>Halat Üreticileri</li>
    <li>Çuval İpi Üreticileri</li>
    <li>İplik Boyahaneleri</li>
    <li>İplik Büküm Tesisleri</li>
</ul>

{% endblock %}
